@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fffaf8;
  --foreground: #1e1218;
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
